<%-include("header")-%>
    <div class="container-card ">
        <div class="card card1 cont-one" style="width: 50%;">
            <!-- <div style="width: 500px; height: 600px; margin-left: 200px;"> -->
            <form class="row g-3">
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Author Name</label>
                    <input type="text" class="form-control" id="name">
                </div>

                <div class="col-12">
                    <label for="inputAddress" class="form-label">Short Discription</label>
                    <textarea type="text" class="form-control" id="inputAddress" placeholder=""></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Long Discription</label>
                    <textarea type="text" class="form-control" id="inputAddress" placeholder=""></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Books</label>
                    <textarea type="text" class="form-control" id="inputAddress" placeholder=""></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Upload Photo</label>
                    <input type="file" class="form-control" id="inputGroupFile01">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>

            <!-- </div> -->
        </div>
    </div>

    <%-include("footer")-%>