<%-include("header")-%>

    <div class="container-card">
        <div class="card card1 cont-one" style="width: 50%;">
            <form class="row g-3" action="/addbooks" method="post">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Title</label>
                    <input name="title" type="text" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Genre</label>
                    <input name="genre" type="text" class="form-control" id="inputPassword4">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Brief Discription</label>
                    <input name="description" type="text" class="form-control" id="inputAddress">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Long Discription</label>
                    <textarea name="longDescription" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Select Book Cover</label>
                    <input type="file" class="form-control" id="inputGroupFile01">
                </div>
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Author Name</label>
                    <input name="authorName" type="text" class="form-control" id="name">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Short Discription</label>
                    <textarea name="authorDescription" type="text" class="form-control" id="inputAddress" placeholder=""></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Long Discription</label>
                    <textarea name="authorLoDescription" type="text" class="form-control" id="inputAddress" placeholder=""></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Books</label>
                    <textarea name="authorBooks" type="text" class="form-control" id="inputAddress" placeholder=""></textarea>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Upload Photo</label>
                    <input type="file" class="form-control" id="inputGroupFile01">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>

    <%-include("footer")-%>