<%-include("header")-%>
    <div class="container cont-one">
        <div class="home-heading">
            <h2 class="text-center">
                <%=title%>
            </h2>
        </div>
        <div class="home-content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus esse excepturi facere illum commodi omnis labore perspiciatis quo accusantium necessitatibus, adipisci, autem illo repellat saepe quaerat molestiae. Doloremque, accusantium
                voluptate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo possimus, ut officiis nobis voluptatum quam architecto quo consequuntur quae veritatis aut culpa quia quidem suscipit! Hic nesciunt quisquam libero magnam. Lorem
                ipsum dolor sit amet consectetur, adipisicing elit. Totam cumque, excepturi nihil error, asperiores accusantium eaque temporibus reiciendis nesciunt inventore odit neque? Numquam, temporibus quisquam? Debitis ex deserunt voluptatibus a.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio natus saepe, est dolor eos exercitationem nam? Provident aliquam vero minima quod error, repellendus qui, ipsam amet omnis delectus impedit quo! Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Maiores doloribus voluptas explicabo hic dolorem delectus atque beatae! Asperiores sunt possimus aut, cupiditate eveniet quo reprehenderit perspiciatis error eos sapiente necessitatibus?lore
                <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto inventore quisquam magni vero, laudantium repudiandae dolorum asperiores enim expedita quia ut nihil nobis sequi similique dolore a, quis omnis itaque? Lorem ipsum,
                dolor sit amet consectetur adipisicing elit. Blanditiis tempora nobis consequuntur soluta omnis aspernatur a aperiam excepturi voluptatibus, incidunt libero sunt eius autem cupiditate? Provident quidem ipsa placeat modi? Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Quod exercitationem id facere nesciunt ipsum, nihil fugit harum debitis ut ipsa esse quibusdam veniam, assumenda quidem officia ea pariatur facilis alias. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Consectetur molestiae exercitationem hic quibusdam inventore reprehenderit autem incidunt delectus. Eligendi expedita alias dolorem ratione quam voluptate incidunt cumque pariatur nobis mollitia.
            </p>
        </div>
    </div>
    <%-include("footer")-%>